:root {
  --glowStart: #242424;
  --glowPeak: #535bf2;
  --glowEnd: #53d5f2;
  --bg1: #242424;
  --bg2: #282828;
  --bg3: #313131;
  --mc1: #535bf2;
  --mc2: #646cff;
  /* Button Hover */
  --mc3: #747bff;
  --white-text: #effbff;
  --grey-text:#656565;
  --light-grey-text: #939393;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  font-weight: 500;
  color: var(--mc2);
  text-decoration: inherit;
}
a:hover {
  color: var(--mc1);
}

body {
  place-items: start;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  flex: 1;
  padding: 0;
  margin: 0;
  margin-top: 3vh;
  text-align: center;
  color:var(--mc2);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white-text);
  background-color: var(--mc1);
  cursor: pointer;
  transition: border-color 0.25s;
  flex: 1;
  margin: 0 0.4em;
  min-height: 1em;
  max-width: 15em;
}
button:hover {
  background-color: var(--mc3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cog {
  flex-grow: 0.2;
  text-decoration: none;
}

select {
  min-width: 5em;
  min-height: 2em;
  padding: 0 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  -webkit-appearance: menulist-textfield;
}

@keyframes glow-up {
  0% {border-color: var(--glowStart); outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px var(--glowStart);
    -moz-box-shadow: 0px 0px 0px 1px var(--glowStart);
    box-shadow: 0px 0px 0px 1px var(--glowStart); }
  80% {border-color: var(--glowPeak); outline:none;
    -webkit-box-shadow: 0px 0px 0px 3px var(--glowPeak);
    -moz-box-shadow: 0px 0px 0px 3px var(--glowPeak);
    box-shadow: 0px 0px 0px 3px var(--glowPeak);}
  100% {border-color: var(--glowEnd); outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px var(--glowEnd);
    -moz-box-shadow: 0px 0px 0px 1px var(--glowEnd);
    box-shadow: 0px 0px 0px 1px var(--glowEnd);}
}

.clearable-input > input {
  width: 100%;
  min-width: 0;
  height: 1em;
  padding: 0.6em;
  margin: 0 0.4em;
  font-size: 1em;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--bg1);
  background-color: var(--bg3);
  -webkit-appearance: none;
}

.clearable-input > input:focus {
  outline-width:thin;
}

.glowUp {
  animation-name: glow-up;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.main-layout {
  font-size: 1em;
  width:100%;
  max-height: 100%;
}

ul {
  overflow:hidden; 
  overflow-y:scroll;
  list-style-type:none;
  width: 100%;
  height: 100%;
  margin: 0 0.5em;
  padding: 0;
  border-radius: 5px;
}

li {
  margin: 0.3em 0.6em;
  font-size: 1em;
  width: 80%;
  text-align: left;
}

.placeholder {
  color: var(--grey-text);
}

#page-container {
  display: flex;
  gap: 2vh;
  min-width: 50vw;
  width:100%;
  /* padding: 0 5vw 0 5vw; */
  height: 85vh;
  flex-direction: column;
  align-items: center;
}


.button-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.button-wrapper-wrap {
  flex-wrap:wrap;
  row-gap: 2vh;
}

.clearable-input {
  position: relative;
  display: flex;
  width:100%;
}
.clearable-input > input {
  padding-right: 1.6em;
}
.clearable-input > .x-button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 0.9em;
  line-height: 1.8em;
  cursor: pointer;
  color:var(--mc2);
}


.flex-container {
  display: flex;
  flex-direction: row;
  min-width: 0;
  max-width: 50em;
}

.header {
  min-height:0;
  text-align: center;

}

.lists {
  flex: 1 1 100px;
  min-height: 0;
  min-width: 2em;
}

.lists * {
  background-color: var(--bg2);
}

.options-wrapper {
  flex: 1 1 auto;
  height:100%;
  min-width: 20em;
  width: min-content;
  max-width: 95%;
  background-color: var(--bg3);
  border-radius: 5px;
  padding: 1em;
  text-align: center;
}

.options-wrapper > h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color:var(--light-grey-text);
}

.options-flexbox {
  /* need to change name to grid */
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  height: 80%;
}

.options-flexbox > ul {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.options-labels {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.options-flexbox > .options-labels > li > label {
  float:left;
}

.options-options {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
}

.options-options > li > input {
  scale: 1.5;
  margin: 0 4%;
  padding: 0;
}

.options-flexbox > ul > li {
  height: 15%;
  padding: 0;
  margin: 0 1em;
}

.options-flexbox > .options-options > li {
  padding: 1% 0 0 0;
  margin: 0 1em;
}

.options-flexbox > ul > li > * {
  width: auto;
  float:right;
}
.overlap-grid {
  display:grid;
  height: 90%;
  width:100vw;
}

.overlap-cell1,
.overlap-cell2 {
  grid-area: 1/1/2/2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
  height: 100%;
  min-height: 0;
}

.text-wrapper {
  flex: 1 2 1em;
  height:100%;
  min-height: 0;
  min-width: 50%;
  width: auto;
  max-width: 40em;
  background-color: var(--bg3);
  border-radius: 5px;
  padding: 1em;
  margin: 0 5%;
  text-align: left;
  overflow-y: scroll;
}

.text-wrapper > h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
  color:var(--light-grey-text);
}


.column-stretch {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  gap:2vh;
}

.hidden {
  display: none !important;
}

.explain-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.explain-flexbox > .explain-box {
  flex: 1 1 1em;
  width: 5em;
  min-height: 4em;
  height: min-content;
  background-color: var(--bg1);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center;
}

.explain-flexbox > .arrow {
  flex: 0 1 1px;
  height: 5em;
  margin: 0;
  height: 0.5em;
  padding: 2.5em 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --glowStart: #242424;
    --glowPeak: #535bf2;
    --glowEnd: #53d5f2;
    --bg1: #ffffff;
    --bg2: #f9f9f9;
    --bg3: #f2f1f1;
    --mc1: #535bf2;
    --mc2: #646cff;
    /* Button Hover */
    --mc3: #747bff;
    --white-text: #effbff;
    --grey-text:#939393;
    --light-grey-text: #656565;

    color: hsl(237, 86%, 5%);
    background-color: #ffffff;
  }
  /* a:hover {
    color: var(--mc3);
  }
  button {
    color:var(--white-text);
    background-color: var(--mc3);
  }
  .lists * {
    background-color: #f9f9f9;
  }
  button:hover {
    background-color: var(--mc2)
  }

  .placeholder {
    color: var(--grey-text);
  }

  .clearable-input > input {
    border-color: #bdc0ff;
    background-color: #f9f9f9;
  }
  .clearable-input > input:focus {
    outline-color: #060714;
  }

  .options-wrapper {
    background-color: #f9f9f9;
  }

  h2 {
    color: var(--mc3);
  } */
}