:root {
  --glowStart: #242424;
  --glowPeak: #535bf2;
  --glowEnd: #53d5f2;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: start;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  flex: 1;
  padding: 0;
  margin: 0;
  margin-top: 3vh;
  text-align: center;
  color:#646cff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:#daf6ff;
  background-color: #535bf2;
  cursor: pointer;
  transition: border-color 0.25s;
  flex: 1;
  margin: 0.4em;
  min-height: 1em;
  max-width: 15em;
}
button:hover {
  background-color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cog {
  flex-grow: 0.2;
  font-size: xx-large;
  padding: 0;
  margin: 0 0.2em;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

select {
  -webkit-appearance: menulist-textfield;
  height: 45px;
  min-height: 10em;
  max-height: 100%;
}

@keyframes glow-up {
  0% {border-color: var(--glowStart); outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px var(--glowStart);
    -moz-box-shadow: 0px 0px 0px 1px var(--glowStart);
    box-shadow: 0px 0px 0px 1px var(--glowStart); }
  80% {border-color: var(--glowPeak); outline:none;
    -webkit-box-shadow: 0px 0px 0px 3px var(--glowPeak);
    -moz-box-shadow: 0px 0px 0px 3px var(--glowPeak);
    box-shadow: 0px 0px 0px 3px var(--glowPeak);}
  100% {border-color: var(--glowEnd); outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px var(--glowEnd);
    -moz-box-shadow: 0px 0px 0px 1px var(--glowEnd);
    box-shadow: 0px 0px 0px 1px var(--glowEnd);}
}

input {
  width: 100%;
  min-width: 0;
  height: 1em;
  padding: 0.6em;
  margin: 0 0.4em;
  font-size: 1em;
  border-radius: 5px;
  border-style: solid;
  border-color: #242424;
  -webkit-appearance: none;
}

input:focus {
  outline-width:thin;
}

.glowUp {
  animation-name: glow-up;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.main-layout {
  font-size: 1em;
  width:100%;
  max-height: 100%;
}

ul {
  overflow:hidden; 
  overflow-y:scroll;
  list-style-type:none;
  width: 100%;
  height: 100%;
  margin: 0 0.5em;
  padding: 0;
  border-radius: 5px;
}

li {
  margin: 0.3em 0.6em;
  font-size: 1em;
  width: 80%;
  text-align: left;
  background-color:#00b768;
}

.placeholder {
  color: #656565;
}

#page-container {
  display: flex;
  gap: 2vh;
  min-width: 50vw;
  width:100%;
  /* padding: 0 5vw 0 5vw; */
  height: 90vh;
  flex-direction: column;
  align-items: center;
}


.button-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.button-bar {
  height: 2em;
  min-height: 0;
  flex: 1 1 1px;
}

.clearable-input {
  position: relative;
  display: flex;
  width:100%;
}
.clearable-input > input {
  padding-right: 1.6em;
}
.clearable-input > .x-button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 0.9em;
  line-height: 1.8em;
  cursor: pointer;
  color:#747bff;
}


.flex-container {
  display: flex;
  flex-direction: row;
  min-width: 0;
  max-width: 50em;
}

.header {
  min-height:0;
  text-align: center;

}

.lists {
  flex: 1 1 1px;
  min-height: 0;
  min-width: 25em;
}

.lists * {
  background-color: #282828;
}

.options-wrapper {
  flex: 1 1 1px;
  height:100%;
  min-width: 20em;
  max-width: 95%;
  background-color: #535bf2
}


.overlap-grid {
  display:grid;
  height: 90%;
  width:100vw;
}

.overlap-cell1,
.overlap-cell2 {
  grid-area: 1/1/2/2;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
  height: 100%;
}

.column-stretch {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  gap:2vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color:#ffffff;
    background-color: #747bff
  }
  .lists * {
    background-color: #f9f9f9;
  }
  button:hover {
    background-color: #646cff
  }

  .placeholder {
    color: #656565;
  }
  input {
    border-color: #bdc0ff;
  }
  input:focus {
    border-color:#ffffff00;
    outline-color: #1c1f53;
  }
}
